:root {
	/* Animation Settings */
	--rotate-amount: 1deg;
	--huerotate-amount: 15deg;
	--rayscale-amount: 1.1;
	--peoplescale-amount: 1.03;
}

@font-face {
	font-family: "articobold";
	src: url("font/articobold.otf") format("opentype");
}

body {
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
}

.logo {
	position: absolute;
	max-height: 95vh;
	width: 80vw;
	left: 50%;
	margin-left: -40vw;
	bottom: 0;
}

.logo.footer {
	background-color: red;
	display: grid;
	grid-template-columns: repeat(5, auto);
	margin: 0;
	padding: 0;
	height: 4vh;
	width: 100vw;
	left: 0;
}

.logo.footer span {
	font-size: 2.5vh;
	color: white;
	font-family: articobold;
	margin: auto;
}

.logo.ray {
	transform-origin: center 130%;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-name: rayanim;
}

.logo.people {
	transform-origin: center 95%;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-name: peopleanim;
}

.logo.text {
	top: 5vh;
}

.logo#ray1 {
	animation-delay: -4s;
}

.logo#ray2 {
	animation-delay: -2s;
}

.logo#ray3 {
	animation-delay: 0s;
}

@keyframes rayanim {
	0% {
		filter: hue-rotate(var(--huerotate-amount));
		transform: scale(1) rotate(var(--rotate-amount));
	}
	50% {
		filter: hue-rotate(0deg);
		transform: scale(var(--rayscale-amount)) rotate(calc(0deg - var(--rotate-amount)));
	}
	100% {
		filter: hue-rotate(var(--huerotate-amount));
		transform: scale(1) rotate(var(--rotate-amount));
	}
}

@keyframes peopleanim {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(var(--peoplescale-amount));
	}
	100% {
		transform: scale(1);
	}
}